.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.skills-item {
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-light),
        transparent
    );
    text-align:left;
    padding: 2rem;
    border: 1px solid transparent;
}


.skills-item:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.background {
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 2.5;
    text-align: center;
}

.education {
    line-height:1.8;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .skills-container {
      grid-template-columns: 1fr;
      gap: 0;
    }
}