.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.portfolio-item {
    background: var(--color-light);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.portfolio-item:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.portfolio-item-image {
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    height: 60%;
}

.portfolio-item-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .portfolio-container {
      grid-template-columns: 1fr;
      gap: 0;
    }
}